<% if (typeof app !== 'undefined') { %>
<div class="content">
  <h4>
    <img src="./img/streams.svg" width="103" />
  </h4>
  <div class="list">
    <% Object.keys(app).forEach(streamKey => { const stream = app[streamKey]; %>
    <ul>
      <li>
        <strong>Name:</strong> <code><%= stream.publisher.stream %></code> (<%=
        stream.subscribers.length %> clients connected)
      </li>
      <li>
        <strong>Traffic:</strong> <%= tools.filesize(stream.publisher.bytes) %>
      </li>
      <li>
        <strong>Audio:</strong> <% if (stream.publisher.audio) { %><%=
        stream.publisher.audio.codec %> <%= stream.publisher.audio.samplerate /
        1000 %>khz, <%= stream.publisher.audio.channels %> channels<% } else {
        %>None<% } %>
      </li>
      <li>
        <strong>Video:</strong> <%= stream.publisher.video.codec %> <%=
        [stream.publisher.video.width, stream.publisher.video.height].join('x')
        %> <%= stream.publisher.video.fps %>fps
      </li>
      <li>
        <strong>Ingest URL:</strong>
        <div class="copyable no-title">
          <code>rtmp://127.0.0.1/app/<%= streamKey %></code>
          <a href="#" class="copy" title="Copy">
            <img src="./img/copy.svg" />
          </a>
        </div>
      </li>
      <li>
        <strong>View:</strong>
        <div class="copyable no-title">
          <code>http://127.0.0.1:8000/app/<%= streamKey %></code>
          <a href="#" class="copy" title="Copy">
            <img src="./img/copy.svg" />
          </a>
        </div>
      </li>
    </ul>
    <% }) %>
  </div>
</div>
<% } else { %>
<div class="empty-state">
  <h2>No Live Streams yet.</h2>
  <section>
    <div class="copyable" data-title="RTMP URL">
      <code><%= rtmpUri %></code>
      <a href="#" class="copy" title="Copy">
        <img src="./img/copy.svg" />
      </a>
    </div>
    <div class="copyable" data-title="Admin interface">
      <code
        >http://<%= configuration.host %>:<%= configuration.port %>/admin</code
      >
      <a href="#" class="copy" title="Copy">
        <img src="./img/copy.svg" />
      </a>
    </div>
  </section>
</div>
<% } %>
